
<div class=" text-center col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
  <div class="card animated fadeInUp">
    <%= form_tag("/dev_select", method: "post", class: "form-group") do %>
        <h1 class="">Select A Film</h1>
        <select  class="" name="name">
          <% array_of_shit = [''] %>
          <%= @films.find_each do |f| %>
              <% if !array_of_shit.include?(f.name) %>
                  <% array_of_shit.push(f.name)%>
                  <option class="form-control"><%= f.name %> </option>
              <% end %>
          <% end %>
        </select>
        <%= submit_tag("Next", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
<br>

<%=  render partial: 'emptyCard' %>
<br>

<%=  render partial: 'emptyCard' %>








